@import "../common/css/variables";
@import "../common/css/mixins";
.year-nav {
  @include flex-row;
  height: 32px;
  //   li {
  //     width: 70px;
  //   }
}
.years {
  margin-bottom: $margin-more-smaller;
}
.year-link {
  color: $grey;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  transition-duration: 0.3s;
  //   margin: 0 auto;
  //   display: block;
  //   text-align: center;

  &:hover {
    font-size: 28px;
    color: $dark-grey;
  }
  @include for-medium-devices-and-phones {
    font-size: 16px;
    line-height: 22px;
    &:hover {
      font-size: 18px;
      color: $dark-grey;
    }
    &:active {
      font-size: 20px;
    }
  }
}

.dots-wrap {
  clear: both;
  margin-bottom: $margin-medium;
}
.line {
  position: absolute;
  width: 100%;
  height: 32px;
  z-index: -1;
}

.dots {
  @include flex-row;
  li {
    line-height: 32px;
    a {
      width: 40px;
      margin: 0 auto;
      display: block;
      text-align: center;
      color: transparent;
    }
  }
}

.pagination-line {
  width: 100%;
}

.years-pagination {
  @include flex-row;
}

.arrow-active {
  opacity: 0.6;
}

.arrow-disable {
  opacity: 0.12;
}
