@import "../../common/css/mixins";
@import "../../common/css/variables";
@import "../../common/css/headers";

.magazine-material-wrap{
    position: relative;
    background: rgba(30, 30, 30, 0.03);
    margin-bottom: 64px;
    .magazine-image{
        position: absolute;
        height: 100%;
    }
    .magazine-published{
        padding: 30px 0px 8px 141px;
        @include small-header;
        color: $grey;

    }
    .number{
        padding: 0px 0px 29px 141px;
        @include title-medium;
        color: $dark-grey;

    }
    .button{
        position: absolute;
        right: 48px;
        top: 38%;  
    }
}

@include for-phones{
    .magazine-material-wrap{
        .flex-mobile {
            display: flex;
        }
        .magazine-mobile-titles{
            display: inline-block;
            margin: 20px;
        }
        .magazine-image{
            margin-top: 20px;
            margin-left: 20px;
            position: initial;
            height: 88px;
            display: inline-block;
        }
        .magazine-published{
            padding: 0 0 8px 0;
            font-size: 14px;
        }
        .number{
            padding: 0;
            width: 100px;
        }
        .button{
            position: initial;
            margin: 20px; 
            display: grid;
        }
        .button-wrap{

        }
    }
}