@import "./variables";
@import "./mixins";

.button-red {
  @include button;
  background-color: $red;
  color: $white;
  font-weight: 600;
  &:hover {
    background-color: $dark-red;
  }
  &:active {
    background-color: $dark-red;
  }
}

.button-default {
  @include button;
  border: 1px solid $red;
  background-color: transparent;
  color: $red;
  &:hover {
    background-color: $red;
  }
  &:active {
    background-color: $dark-red;
  }
}

.arrow-right {
  margin-left: $margin-very-small;
  font-weight: bold;
  font-size: 16px;
}

.show-more-button {
  @include opacity-animation;
  @include navigation-link;
  img {
    display: inline-block;

    vertical-align: middle;
    margin-bottom: 2px;
  }
}

button {
  &:focus {
    outline: 1px dotted #d5182a !important;
  }
}
