@import "./variables";
@import "./mixins";

.button-red {
  @include Button;
  background-color: $red;
  color: $white;
  &:hover {
    background-color: $dark-red;
  }
  &:active {
    background-color: $dark-red;
  }
}

.button-default {
  @include Button;
  border: 2px solid $red;
  background-color: $white;
  color: $red;
  &:hover {
    background-color: $red;
  }
  &:active {
    background-color: $dark-red;
  }
}
