@import "./variables";
@import "./mixins";

.button-red {
  @include button;
  background-color: $red;
  color: $white;
  &:hover {
    background-color: $dark-red;
  }
  &:active {
    background-color: $dark-red;
  }
}

.button-default {
  @include button;
  border: 2px solid $red;
  background-color: $white;
  color: $red;
  &:hover {
    background-color: $red;
  }
  &:active {
    background-color: $dark-red;
  }
}

.arrow-right {
  margin-left: $margin-very-small;
  font-weight: bold;
  font-size: 16px;
}

.show-more-button {
  @include opacity-animation;
  @include navigation-link;
}
