@import "./variables";
@import "./mixins";

.fragment-header {
  margin-bottom: $margin-medium !important;
  color: $red;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  @include for-phones {
    margin-bottom: $margin-small !important;
  }
}

.header-big {
  margin-bottom: $margin-big !important;
  font-size: 32px;
  line-height: 130%;
  @include for-phones {
    font-size: 24px;

    margin-bottom: $margin-small !important;
  }
}

.big-post-header {
  margin-top: 32px;
  @include medium-margin-bottom;
  @include post-title-large;
  @include for-phones {
    margin-top: $margin-very-small;
  }
}


.body-text {
  margin-bottom: $margin-big;
  br {
    line-height: 48px;
    @include for-phones {
      font-size: 24px;
    }
  }
  iframe{
    width: 100%;
    
  }
  img{
    width: 100% !important;
    height: auto !important;
    margin: 0 !important;
    display: block;
  }
  p {
    @include medium-margin-bottom;
    font-family: Georgia;
    font-size: 20px;
    line-height: 150%;
    @include for-phones {
      font-size: 16px;
    }
    a {
      color: $red;
      &:hover {
        color: $red;
        text-decoration: underline !important;
      }
    }
  }
  .mini-header {
    font-family: "UT_Magazine";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.02em;
    margin-top: 72px;
    strong {
      font-weight: 600 !important;
    }
    @include for-phones {
      margin-top: 40px;
      font-size: 20px;
    }
  }
  .read-also {
    @include medium-margin-bottom;
    border-left: 4px solid $light-grey;
    padding-left: 44px;
    height: 56px;
    line-height: 16px;
    display: flex;
    align-items: center;
    @include title-link-small;
    @include for-phones {
      padding-left: $padding-medium;
      line-height: 16px;
      height: 40px;
    }

    a {
      cursor: pointer;
      @include link-hover;
      &:hover{
        text-decoration: none !important;
        color: $red;
        
      }
      
    }
    
  }
}

blockquote  {
  padding: 40px 48px;
  border: 8px solid rgba(30, 30, 30, 0.03);
  @include for-phones {
    padding: 24px;
  }
  .teaser{
    margin-bottom: 0 !important;
    em{
      font-family: UT_Magazine;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 150%;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $red;
      @include for-phones {
        font-size: 16px;
        line-height: 150%;
      }
      strong{
        font-weight: normal !important;
      }
    }
  
}
  
}