@import "./variables";
@import "./mixins";

.fragment-header {
  margin-bottom: $margin-medium !important;
  color: $red;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  @include for-phones {
    margin-bottom: $margin-small !important;
  }
}

.header-big {
  margin-bottom: $margin-big !important;
  font-size: 32px;
  line-height: 130%;
  @include for-phones {
    font-size: 24px;

    margin-bottom: $margin-small !important;
  }
}

.big-post-header {
  margin-top: 32px;
  @include big-margin-bottom;
  @include post-title-large;
  @include for-phones {
    margin-top: $margin-very-small;
  }
}

.quantity-label {
  @include title-small;
  color: $dark-grey;
  display: inline-block;
}

.body-text {
  margin-bottom: $margin-big;
  img {
    @include image-cover;
  }
  br {
    line-height: 48px;
    @include for-phones {
      font-size: 24px;
    }
  }
  p {
    @include medium-margin-bottom;
    font-family: Georgia;
    font-size: 24px;
    line-height: 150%;
    @include for-phones {
      font-size: 16px;
    }
    a {
      color: $red;
      &:hover {
        color: $red;
        text-decoration: underline !important;
      }
    }
  }
  .mini-header {
    font-family: "UT_Magazine";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.02em;
    @include for-phones {
      font-size: 20px;
    }
  }
  .read-also {
    @include medium-margin-bottom;
    border-left: 4px solid $light-grey;
    padding-left: 44px;
    height: 56px;
    @include for-phones {
      padding-left: $padding-medium;
      height: 40px;
    }

    p {
      line-height: 56px;
      @include title-link-small;
    }
    blockquote {
      padding: 40px 48px;
      border: 8px solid rgba(30, 30, 30, 0.03);
      font-family: Georgia;
      font-style: italic;
      font-weight: normal;
      font-size: 24px;
      line-height: 150%;
      color: $red;
      @include for-phones {
        padding: 24px 32px;
        font-size: 16px;
        color: $almost-black;
      }
    }
  }
}
