.header-modal {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0.02em;
}

.body-modal {
  padding-top: 56px;
  padding-bottom: 56px;
  padding-left: 288px;
  padding-right: 96px;
}
