@import "./variables";
p {
  margin-bottom: 0 !important;
  color: $almost-black;
}

a {
  color: unset !important;
  &:hover {
    text-decoration: none !important;
  }
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: unset !important;
}
