@import "./variables";
@import "./mixins";

.navbar {
  padding: 0 !important;
  margin: 0;
  background-color: $white;
  height: 60px;
  border-bottom: 1px solid $light-grey;
  
}

.navbar-custom-wrap{
  
  @include not-for-extra-large-devices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
  }
}

.navbar-brand {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin: 0 !important;
}
.show{
  transition-duration: 0.5s;
}
.dropdown-menu {

  margin-top: 11px !important;
  padding: 24px 50px 9px 24px !important;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  border: none !important;
  border-radius: 0 !important;
  @include not-for-extra-large-devices{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    box-shadow: none;
    border: 1px solid  $light-grey !important;
    margin-top: -12px !important;
    margin-left: -51px !important;
    padding: 32px 0px 0px 51px !important;
    background-color: $red !important;
    z-index: 2;

  }
  
  
}
 .nav-item .dropdown-toggle{
   @include not-for-extra-large-devices{
    z-index: 1000;
    margin-left: -18px;
    position: relative;
    background: $red;
    width: 100px;
    text-align: center;
    
   }
}
.dropdown-item {
  display: flex ! important;
  flex-direction: row;
  align-items: center;
  transition-duration: 0.1s;
  padding: 0 0 17px 0px !important;
  p {
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $grey !important;
  }
 

  p:hover {
    color: $red !important;
  }
  @include not-for-extra-large-devices{
    padding: 0 0 24px 0px !important;
    .rubric-color{
      display: none;
    }
    p{
      text-transform: none;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: 0;
      color: $white !important;
      &:hover{
        color: $dark-white !important;
      }
    }
  }
}

.rubric-color{
  margin-right: 16px;
  margin-bottom: 4px;
  background: $grey;
  width: 4px !important;
  height: 4px !important;
  vertical-align: center;
}
.dropdown-decoration{
  position: absolute;
  top: 401px;
  width: 75%;
  height: 4px;
  z-index: 1000;
  background-color: $red;
}
.nav-link{
   padding: 12px 18px 0px 18px !important;
}
.first-nav{
  margin-left: auto;
  @include not-for-extra-large-devices {
    margin-left: 0 !important;
  }
}
.last-nav{
  margin-right: auto;
}
.nav-link,
.nav-link > p {
  color: $dark-grey;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transition-duration: 0.1s;
  &:hover {
    color: $red;
    @include not-for-extra-large-devices{
      color: $dark-white !important;
    }
  }
}

.arrow-down {
  color: $grey;
  font-weight: bold;
}

.logo {
  height: 61px;
  cursor: pointer;
}
.separator {
  font-size: 24px;
  line-height: 24px;
  color: $light-grey;
  margin-right: $margin-small;
  margin-left: $margin-small;
}

.uk-week {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: $grey;
  padding: 10px 0 6px 63px;
  @include link-hover;
}

.subscribe {
  padding-right: 32px;
  border-right: 1px solid $light-grey;
  @include not-for-extra-large-devices{
    border-right:none;
    margin-left: 42px !important;
    padding-right: 0px;
  }
}
.my-profile{
  padding-left: 32px;
  padding-right: 12px;
  @include not-for-extra-large-devices{
    padding-left: 12px;
    padding-right: 0px;
  }
}
.navbar-text .search-small {
  opacity: 0.38;
 
}
.navbar-nav-second {
  justify-content: space-between
}
.second-nav-link p{
  margin: 10px 0 8px 0;
  font-size: 16px;
  color: $grey;
  @include link-hover;
}
.inline-flex{
  display: inline-flex;
  @include not-for-extra-large-devices{
    width: 100%;
    justify-content: center;
    padding-right: 30px;
    padding-bottom: 16px;
    border-bottom: 1px solid $light-grey;
  }
}
.search-small{
  opacity: 0.38;
  transition-duration: 0.3s;
  &:hover{
    opacity: 0.6;
  }
}
.navbar-text img,
.navbar-text p {
  display: inline-block;
}

.navbar-toggler-icon {
  background-image: url("../../../images/icons/menu-24px-white.svg") !important;
  background-repeat: no-repeat;
  width: 24px !important;
  height: 24px !important;
}

.nav-item .dropdown-toggle::after {
  display: none !important;
}

.navbar-toggler {
  padding: 0 !important;
}
.second-nav-nar{
  padding-top: 60px;
  position: fixed !important;
  width: 100% !important;
  @include not-for-extra-large-devices {
    display: none;
  }
}

.second-nav{
  @include for-medium-devices-and-phones{
    display: none !important;
  }
}

.second-nav{
  border: 0 !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  height: 40px !important;
  
}
.second-nav-link{
  @include not-for-extra-large-devices{
    padding:0 !important;
    margin: 20px 0 0px 0 !important;
  }
}
.account-icon{
  display: inline-block;
  margin-bottom: 5px;
  @include not-for-extra-large-devices{
    margin-left: auto !important;
  }
}

.my-profile{
  display: inline-block;
}
.second-nav-link p{
    margin: 10px 0 8px 0;
    font-size: 16px;
   
    color: $grey;
    @include not-for-extra-large-devices{
      color: $white;
     
    }
}
.articles-nav::after {
  content: "";
  display: block;
  background-image: url("../../../images/icons/arrow_down.svg");
  background-size: contain;
  margin: auto;
  margin-top: 1px;
  width: 10px;
  height: 6px;
  transition-duration: 0.1s;
  @include not-for-extra-large-devices{
    display: inline-block;
    margin-left:8px;
    background-size: cover;
    margin-bottom: 3px;
  }
}

.show > .dropdown-toggle > .articles-nav::after {
  background-image: url("../../../images/icons/arrow_up.svg") !important;
}


@media (min-width: 1200px) {
  .navbar-nav{
    // margin-left: 60px !important;
    // justify-content: space-between;
    width: 100% !important;
}
}
@media (max-width: 1200px) {
 
  .dropdown-item {
    &:hover {
      color: $white !important;
    }
  }
  .red-background{
    background-color: $red;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 30;
    display: none;
  }
  .back-show{
    transition-duration: 0.5s;
    display:block !important;
    position: fixed;
  }
  .navbar {
    padding: 0 !important;
    margin: 0;
    background-color: $red;
    height: 60px;
    border-bottom: 0;
  }
  .nav-item{
    padding: 0 0 32px 51px;
  }
  .navbar .container,
  .container-fluid {
    background-color: $red;
  }
  .logo {
    height: 45px;
  }
  .nav-link,
  .nav-link p {
    color: $white !important;
    padding: 0 !important;
    

  }
  .articles-nav::after {
    background-image: url("../../../images/icons/arrow_down_white.svg");
  }
  .show > .dropdown-toggle > .articles-nav::after {
    background-image: url("../../../images/icons/arrow_up_white.svg") !important;
  }

  .arrow-down {
    color: $white;
  }
 
  .uk-week {
    color: $white;
    text-transform: uppercase;
    margin-bottom: 8px !important;
    margin-left: 51px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.02em;
    padding: 0 !important;
  }
  .navbar-text .search-small {
    display: none;
  }
  .navbar-text .social-networks{
    margin-left: 51px;
  }
  .search-small{
    display: none;
  }
  .separator-navbar {
    display: none !important;
  }
  .navbar-text {
    margin-bottom: $margin-big;
  }
  .navbar-nav {
    
    padding-top: 27px;
  }
}
