@import "./variables";

.navbar {
  padding: 0 !important;
  margin: 0;
  background-color: $white;
  height: 60px;
  border-bottom: 1px solid $light-grey;
}
.navbar-brand {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin: 0 !important;
}
.dropdown-menu {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.nav-link {
  color: $almost-black !important;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.arrow-down {
  color: $grey;
  font-weight: bold;
}

.logo {
  height: 60px;
}
.separator {
  font-size: 24px;
  line-height: 24px;
  color: $light-grey;
  margin-right: $margin-small;
  margin-left: $margin-small;
}

.uk-week {
  font-size: 12px;
  line-height: 130%;
  color: $grey;
}

.navbar-text .search-small {
  opacity: 0.38;
}

.navbar-text img,
p {
  display: inline-block;
}

.navbar-toggler-icon {
  background-image: url("../../../images/icons/menu-24px-white.svg") !important;
  background-repeat: no-repeat;
}

.nav-item .dropdown-toggle::after {
  display: none !important;
}

.navbar-toggler {
  padding: 0;
}

@media (max-width: 1200px) {
  .navbar {
    padding: 0 !important;
    margin: 0;
    background-color: $red;
    height: 60px;
    border-bottom: 0;
  }

  .navbar .container,
  .container-fluid {
    background-color: $red;
  }
  .logo {
    height: 45px;
  }
  .nav-link {
    color: $white !important;
  }
  .arrow-down {
    color: $white;
  }
  .dropdown-menu {
    width: 270px;
    border: none !important;
    background-color: $red !important;
    a {
      color: $white !important;
    }
  }
  .uk-week {
    color: $white;
    text-transform: uppercase;
  }
  .navbar-text .search-small {
    display: none;
  }
  .separator {
    display: none;
  }
  .navbar-text {
    margin-bottom: $margin-big;
  }
  .navbar-nav {
    padding-top: $padding-big;
  }
}
