@import "./variables";
@import "./mixins";

.social-networks {
  margin-bottom: $margin-medium;

  img {
    margin-right: $margin-small;
  }
}

.share-wrap {
  padding: $padding-medium;
  background-color: rgba(30, 30, 30, 0.03);
}
