@import "./variables";
@import "./mixins";

.nav-tabs{
    
    @include for-phones{
      flex-direction: row !important;
      flex-wrap: initial !important;
    }
    @media (max-width: 400px){
        overflow: auto;
        position: absolute;
        left: 0;
        width: 100%;
        margin-bottom: 80px;
    }
  }

  .tab-content > div{
    @media (max-width: 400px){
      margin-top: 60px;
  }
  }

  .nav-tabs .active{
    
      @include button;
      background-color: $red !important;
      color: $white !important;
      border-bottom: 1px solid $red;
      border-radius: 0 !important;
      font-size: 20px;
      line-height: 130%;
      @include for-phones{
        font-size: 12px;
        letter-spacing: 0.1em;
        font-weight: 600;
        padding: 12px 12px 6px 12px !important;
        width: inherit;
      }
      &:hover {
        background-color: $dark-red !important;
      }
      &:active {
        border: 1px solid transparent !important;
      }
      
    
  }
  
  .nav-tabs a{
    
    @include button;
    font-size: 20px;
    line-height: 130%;
    background-color: $white !important;
    color: $grey !important;
    border-radius: 0 !important;
    border-bottom: 1px solid $light-grey !important;
    outline : none !important;
    @include for-phones{
      font-size: 12px;
      letter-spacing: 0.1em;
      font-weight: 600;
      padding: 12px 12px 6px 12px !important;
      width: inherit;
      
    }
    &:focus{
    outline : none !important;}
    &:hover {
      background-color: $dark-red;
      border-bottom: 1px solid transparent !important;
    }
    &:active {
      border: 1px solid transparent !important;
    }
  
  
  }
  
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    border: 1px solid transparent !important;
  }
  
  .tab-pane{
    margin-top: 40px;
  }