@import "../../common/css/mixins";
@import "../../common/css/variables";

.category {
  @include navigation-link;
  @include opacity-animation;
  line-height: 34px;

  @include for-phones {
    font-size: 10px;
    line-height: 24px;
  }
}
.category-wrap {
  padding-left: $padding-medium;
  border-left: 4px solid #cccccc;
  @include for-phones {
    padding-left: $padding-small;
  }
}


.category-wrap-solid{

  @include not-for-phones{
    background-color: transparent !important;
  }
  @include for-phones {
    margin-bottom: 16px !important;
    border: none;
    padding: 7px 12px 4px 12px;
    p{
      color: $white !important;
      z-index: 100;
      opacity: 1;
      line-height: 13px !important;
      font-weight: 600;
      
    }
  }
}