@import "../../common/css/mixins";
@import "../../common/css/variables";

.news-hours {
  @include post-abstract-large;
  color: $grey;
  padding-right: 48px;
  @include for-phones {
    padding-right: 27px;
  }
}

.news-title-medium {
  @include post-header-medium;
  margin-bottom: $margin-very-small !important;
}

.news-abstract-medium {
  @include post-abstract-medium;
  @include for-phones {
    display: none;
  }
}

.news-block-item {
  margin-bottom: $margin-big;
}
