@import "../common/css/mixins";
@import "../common/css/variables";
@import "../common/css/headers";

.news-title {
  @include post-header-small;
  display: inline;
  transition-duration: 0.2s;
    &:hover {
      color: $dark-grey;
    }
}

.unique-news {
  display: inline;
  vertical-align: baseline;
  margin-right: $margin-very-small;
}

.title-wrap {
  margin-bottom: $margin-extra-small;
  

}

.news-item-small {
  margin-bottom: $margin-medium;
}

.news-date{
  @include post-abstract-large;
  color: $red;

}

.news-wrap {
  padding-top: $margin-small;
}