@import "./components/common/css/fonts";
@import "./components/common/css/variables";
@import "./components/common/css/overrides";
@import "./components/common/css/mixins";
@import "./components/common/css/buttons";
@import "./components/common/css/fragments.scss";
@import "./components/common/css/pagination.scss";

html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
}
body {
  font-family: "UT_Magazine";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  margin: 0;
  font-family: "UT_Magazine";
}

.main-content {
  padding-top: 100px;
  min-height: 100%;
  margin-bottom: -336px;
  @include for-phones {
    margin-bottom: -510px;
    padding-top: 76px;
  }
  @include for-medium-devices {
    margin-bottom: -236px;
  }
}

.main-content > div {
  padding-bottom: 336px;
  @include for-medium-devices {
    padding-bottom: 236px;
  }
  @include for-phones {
    padding-bottom: 510px;
  }
}
