.Modal {
  position: absolute;
  background-color: #FFFFFF;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 900px;
  border: none;
  box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.12);
  padding: 0;

  &:focus-visible {
    outline: none;
  }

  @media (max-width: 768px) {
    height: 100%;
    overflow: scroll;
    padding-top: 60px;
  }
}

.header-modal {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0.02em;

  @media (max-width: 768px) {
    font-size: 24px;
    line-height: 32px;
  }
}

.container-modal {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.body-modal {
  padding-top: 56px;
  padding-bottom: 56px;
  padding-left: 36px;
  padding-right: 96px;

  @media (max-width: 768px) {
    padding: 20px;
  }
}

.close-modal {
  position: absolute;
  top: 28px;
  right: 28px;
  border: none;
  background-color: #FFFFFF;
  @media (max-width: 768px) {
    top: 70px;
    right: 10px;
  }
}

.image-modal {
  padding-left: 16px;
  padding-right: 16px;

  img {
    max-width: 300px;

    @media (max-width: 768px) {
      max-width: 240px;
      padding-top: 30px;
    }
  }
}
