$white: #ffffff;
$almost-white: rgba(255, 255, 255, 0.87);
$dark-white: rgba(255, 255, 255, 0.6);
$very-dark-white: rgba(255, 255, 255, 0.38);
$very-light-grey: rgba(255, 255, 255, 0.12);

$black: #1e1e1e;
$almost-black: rgba(0, 0, 0, 0.87);
$dark-grey: rgba(0, 0, 0, 0.6);
$grey: rgba(0, 0, 0, 0.38);
$light-grey: rgba(0, 0, 0, 0.12);
$light-grey-backgound: rgba(0, 0, 0, 0.03);

$red: #ed1b2f;
$dark-red: #d5182a;

$margin-extra-small: 4px;
$margin-very-small: 8px;
$margin-more-smaller: 12px;
$margin-small: 16px;
$margin-medium: 24px;
$margin-big: 40px;
$margin-very-big: 60px;
$margin-super-big: 72px;
$margin-large: 96px;

$padding-extra-small: 4px;
$padding-very-small: 8px;
$padding-more-smaller: 12px;
$padding-small: 16px;
$padding-medium: 24px;
$padding-big: 40px;
$padding-very-big: 60px;
$padding-super-big: 72px;
$padding-large: 96px;
