@import "./variables";
@import "./mixins";

.banner {
  @include image-cover;
}

.subscription-banner {
  margin-bottom: $margin-big;
}

.authoria {
  max-width: unset !important;
  width: 100% !important;
}

.newBuildInformers{
  width: 100% !important;
}